form{
    text-align: center;
    background-color: beige;
    padding-top: 80px;
    padding-bottom: 80px;
}
.signup{
    padding-bottom: 40px;
    font-weight: bold;
    font-size: x-large;
    
}